.imgContainer {
    position: relative; // !!! обязательно должен быть
    width: 500px; // размеры раздаем здесь контейнеру, а не изображению!
    height: 500px;
}

.img {
    object-fit: contain; // !!! обязательно должен быть
}

.color {
    border: 2px solid red;
}
