.container {
    margin-top: 32px;
    margin-bottom: 78px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    width: 127px;
    height: 35px;
}

.img {
    object-fit: contain;
}
