.container {
    height: 50px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    padding: 0 13px;
}

.active {
    background-color: var(--accent-color);
}

.imgContainer {
    position: relative;
    width: 38px;
    height: 38px;
}

.img {
    object-fit: contain;
}

.login {
    border: 1px solid #191a23;
    border-radius: 7px;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: #191a23;
}

.imgContainerLogin {
    position: relative;
    width: 31px;
    height: 31px;
    margin-right: 7px;
}
